; begin auth token
//hollanjs.pkgs.visualstudio.com/SPFxTest/_packaging/SPFxFeed/npm/registry/:username=hollanjs
//hollanjs.pkgs.visualstudio.com/SPFxTest/_packaging/SPFxFeed/npm/registry/:_password=NHo3czN6NzJpdTN3c2RndG1xYWdkcWhld2tteGVzdHl6MmV5amR4cnZwZ2tvN3A0b2psYQ==
//hollanjs.pkgs.visualstudio.com/SPFxTest/_packaging/SPFxFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//hollanjs.pkgs.visualstudio.com/SPFxTest/_packaging/SPFxFeed/npm/:username=hollanjs
//hollanjs.pkgs.visualstudio.com/SPFxTest/_packaging/SPFxFeed/npm/:_password=NHo3czN6NzJpdTN3c2RndG1xYWdkcWhld2tteGVzdHl6MmV5amR4cnZwZ2tvN3A0b2psYQ==
//hollanjs.pkgs.visualstudio.com/SPFxTest/_packaging/SPFxFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
